{% block body %}

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

    <h2>Liste demande d'emploi</h2>
 

    <hr>
    <table>

        <tr>
            <th>Id</th>
            <th>titre</th>
            <th>statut</th>
        </tr>
{% for demande in demandes %}
            <tr>
                <td>{{ demande.id }}</td>
                <td>{{ demande.TitreDemande }}</td>
                <td>{{ demande.statutCand }}</td>
            </tr>
{% endfor %}
    </table>
    <hr>

{% endblock %}