{% extends 'baseBack.html.twig' %}

{% block title %}Ajouter Candidature{% endblock %}

{% block body %}
    <h1>Ajouter Candidature</h1>

    {{ include('candidature_back/_form.html.twig') }}

    <a href="{{ path('candidatureback_index') }}">back to list</a>
{% endblock %}
