{% extends 'base.html.twig' %}

{% block title %}Annonce Presse{% endblock %}

{% block body %}

    <div class="products">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        {% for i in list %}
                        <div class="col-md-6">
                            <div class="service-item">
                                <img src="{{ asset('picture/' ~ i.img) }}" height="400" width="300" class="img-fluid" alt="">

                                <div class="down-content">
                                    <h4>{{ i.nom }}</h4>

                                    <p style="margin: 0;">{{ i.origine }} </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>
{% endblock %}