<h1>FORMATION</h1>

<table class="table">
    <tbody>
    <tr>
        <th>NOUVEAU</th>
    </tr>

        <tr>
            <th>NOUVELLE FORMATION GRATUITE DISPONIBLE</th>
            <td>{{ video.title }}</td>

        </tr>

    </tbody>
</table>