{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text">
        <div class="owl-banner owl-carousel">
            <div class="banner-item-01">
                <div class="text-content">
                    <h2>Recruitini</h2>
                </div>
            </div>
            <div class="banner-item-02">
                <div class="text-content">
                    <h4>Recruitini</h4>
                    <h2>Multiple Offre d'emploi</h2>
                </div>
            </div>
            <div class="banner-item-03">
                <div class="text-content">
                    <h4>Recruitini</h4>
                    <h2>Formation gratuite</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="latest-products">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Offres</h2>
                        <a href="{{ path('offre_index') }}">voir plus <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-item">
                        <a href="#"><img src="assets/images/product-1-370x270.jpg" alt=""></a>
                        <div class="down-content">
                            <a href="#"><h4>Offre vendeuse</h4></a>

                            <h6>600 DT</h6>

                            <h4><small><i class="fa fa-briefcase"></i> Commerce <br> <strong><i class="fa fa-building"></i>Magasin</strong></small></h4>

                            <small>
                                <strong title="Posted on"><i class="fa fa-calendar"></i> 15-06-2020</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                <strong title="Type"><i class="fa fa-file"></i> Contract</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                <strong title="Location"><i class="fa fa-map-marker"></i> Tunis</strong>
                            </small>
                            
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="product-item">
                        <a href="#"><img src="assets/images/product-2-370x270.jpg" alt=""></a>
                        <div class="down-content">
                            <a href="#"><h4>Offre enseignant</h4></a>

                            <h6>1 000 DT</h6>

                            <h4><small><i class="fa fa-briefcase"></i> Education <br> <strong><i class="fa fa-building"></i> Lycée</strong></small></h4>

                            <small>
                                <strong title="Posted on"><i class="fa fa-calendar"></i> 1-03-2021</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                <strong title="Type"><i class="fa fa-file"></i> Contract</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                <strong title="Location"><i class="fa fa-map-marker"></i> Nabeul</strong>
                            </small>
                            
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="product-item">
                        <a href="#"><img src="assets/images/product-3-370x270.jpg" alt=""></a>
                        <div class="down-content">
                            <a href="#"><h4>Offre developpeur</h4></a>

                            <h6>1 700 DT</h6>

                            <h4><small><i class="fa fa-briefcase"></i> IT <br> <strong><i class="fa fa-building"></i> ACTIA</strong></small></h4>

                            <small>
                                <strong title="Posted on"><i class="fa fa-calendar"></i> 15-06-2021</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                <strong title="Type"><i class="fa fa-file"></i> Contract</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                <strong title="Location"><i class="fa fa-map-marker"></i> Tunis</strong>
                            </small>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="best-features">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>A propos</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="left-content">
                        <p>Recruitini est une, <a href="#">application</a> pour ler chercheurs  <a href="#">d'emploi</a> et qui vise à rendre la vie plus facile pour les demandeurs et surtout pour les jeunes chercheurs</p>
                        <ul class="featured-list">
                            <li><a href="#">Offres d'emploi</a></li>
                            <li><a href="#">Formations gratuite</a></li>
                            <li><a href="#">Réclamation</a></li>
                            <li><a href="#">Entretien en ligne</a></li>
                        </ul>
                        <a href="#" class="filled-button">Voir plus</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="right-image">
                        <img src="assets/images/about-1-570x350.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="services" style="background-image: url(assets/images/other-image-fullscren-1-1920x900.jpg);" >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Nos clients</h2>

                        <a href="#">read more <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <a href="#" class="services-item-image"><img src="assets/images/blog-1-370x270.jpg" class="img-fluid" alt=""></a>

                        <div class="down-content">
                            <h4><a href="#">Esprit</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <a href="#" class="services-item-image"><img src="assets/images/blog-2-370x270.jpg" class="img-fluid" alt=""></a>

                        <div class="down-content">
                            <h4><a href="#">HP</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <a href="#" class="services-item-image"><img src="assets/images/blog-3-370x270.jpg" class="img-fluid" alt=""></a>

                        <div class="down-content">
                            <h4><a href="#">Actia</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="happy-clients">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Client heureux</h2>

                        <a href="#">Voir plus <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="owl-clients owl-carousel text-center">
                        <div class="service-item">
                            <div class="icon">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="down-content">
                                <h4>Ahmed Selim</h4>
                                <p class="n-m"><em>"Une trés belle expérience."</em></p>
                            </div>
                        </div>

                        <div class="service-item">
                            <div class="icon">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="down-content">
                                <h4>Mariem Arfa</h4>
                                <p class="n-m"><em>"idée innovative, merci pour cette oppotunitée."</em></p>
                            </div>
                        </div>

                        <div class="service-item">
                            <div class="icon">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="down-content">
                                <h4>Karim Mejri</h4>
                                <p class="n-m"><em>"Je recommande ce site, trés efficase pour chercher un emploi."</em></p>
                            </div>
                        </div>

                        <div class="service-item">
                            <div class="icon">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="down-content">
                                <h4>Seif ElBehi</h4>
                                <p class="n-m"><em>"J'ai trouvé ce site trés cool et intéressant."</em></p>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="inner-content">
                        <div class="row">
                            <div class="col-md-8">
                                <h4>Pour plus de contact</h4>
                                <p>Téléchargez notre application mobile et desktop pour plus de chances d'emploi.</p>
                            </div>
                            <div class="col-lg-4 col-md-6 text-right">
                                <a href={{ path('contact') }} class="filled-button">Contactez nous</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
