{% extends 'base.html.twig' %}

{% block title %}compte candidat{% endblock %}

{% block body %}
<!-- Page Content -->
    <div class="page-heading contact-heading header-text" style="background-image: url({{asset('assets/images/heading-4-1920x500.jpg') }});">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">
                        <h4>Recrutini</h4>
                        <h2>compte desactiver</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Ends Here -->
 <div class="col-md-8">
 
    <div class="latest-products">
        <div class="container">
            <div class="row">

              <h2 >  Le compte n'est pas activer </h2>

                <br>
                <br>
                <div class="container">
             SVP  consultez votre email pour activer votre compte
                </div>
            </div>


        </div>
    </div>

 </div>
{% endblock %}
