{% extends 'base.html.twig' %}

{% block title %}compte candidat{% endblock %}

{% block body %}



    <div class="latest-products">
        <div class="container">
            <div class="row">
                <h2 > Le compte est déactiver </h2>

                <br>
                <br>
                <div class="container">
               Pour activer votre compte cliquer
                <a href="{{ path ('app_actvcompte') }}" class="button">Ici</a>
                </div>


            </div>


        </div>
    </div>

{% endblock %}
