{% extends 'base.html.twig' %}

{% block title %}compte candidat{% endblock %}

{% block body %}



    <div class="latest-products">
        <div class="container">
            <div class="row">

              <h2 >  Le compte n'est pas activer </h2>

                <br>
                <br>
                <div class="container">
             SVP  consultez votre email pour activer votre compte
                </div>
            </div>


        </div>
    </div>

{% endblock %}
