{% extends 'base.html.twig' %}

{% block title %}compte candidat{% endblock %}

{% block body %}



    <div class="latest-products">
        <div class="container">
            <div class="row">

                cliquer pour activer votre compte
                <a href="{{ path ('app_actvcompte') }}" class="button">Ici</a>

            </div>


        </div>
    </div>

{% endblock %}
