<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h4 class="card-title">Titre de réclamation :<h4 align="center">{{ reclamation.title }}</h4> </h4><br>
<h4 class="card-title">Date de réclamation : <h4 align="center">{{ reclamation.dateReclamation }}</h4></h4><br>
<h4 class="card-title">Type de réclamation : <h4 align="center">{{ reclamation.type }}</h4></h4><br>
<h4 class="card-title">Description de réclamation : <h4 align=" center">{{ reclamation.descriptionReclamation }}</h4></h4>

</body>
</html>
