<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{ reclamation.dateReclamation }} <br>
{{ reclamation.type }}<br>
{{ reclamation.title }}<br>
{{ reclamation.descriptionReclamation }}
</body>
</html>
