<p>Bonjour, je vous écris pour confirmer votre rendez-vous
    avec {{ rendezvous.candidature.offre.entreprise.nomEntre }} le {{ rendezvous.start ? rendezvous.start|date('Y-m-d') : '' }} à la room 5 si vous etes disponible clicker ce lien.</p>