{% extends 'baseBack.html.twig' %}

{% block title %}Offres{% endblock %}
{% block titre %}Offres{% endblock %}

{% block body %}


    <div class="latest-products">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Featured Jobs</h2>
                    </div>
                </div>

                {% for offer in offers %}
                    <div class="col-md-4">
                    <div class="product-item">
                        <a href="#"><img src="assets/images/product-1-370x270.jpg" alt=""></a>
                        <div class="down-content">
                            <a href="#"><h4>{{ offer.NomOffer }}</h4></a>


                            <h6>$60 000</h6>

                            <h4><small><i class="fa fa-briefcase"></i> Medical / Health Jobs <br> <strong><i class="fa fa-building"></i> BMI Kings Park Hospital</strong></small></h4>

                            <small>
                                <strong title="Posted on"><i class="fa fa-calendar"></i> 15-06-2020</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                <strong title="Type"><i class="fa fa-file"></i> Contract</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                <strong title="Location"><i class="fa fa-map-marker"></i> Tunisie</strong>
                            </small>
                            
                        </div>
                    </div>
                </div>
                &nbsp;

            
        {% else %}
            
                Aucun candidature trouvé
            
        {% endfor %}

               
{% endblock %}
