{% extends 'base.html.twig' %}

{% block title %}compte candidat{% endblock %}

{% block body %}



    <div class="latest-products">
        <div class="container">
            <div class="row">

                consulter votre email pour activer votre compte
                    <a href="{{ path ('app_login') }}" class="button">suivant</a>

                </div>


            </div>
        </div>

{% endblock %}
