<h3>Félicitations</h3>

Bonjour {{ name }}! Vous êtes postuler avec succès .

{# example, assuming you have a route named "login" #}
Pour vous connecter, accédez à:  <a href="{{ path('home_candidat') }}">...</a>.

Merci.