{% extends 'base.html.twig' %}

{% block title %}Modifier candidature{% endblock %}
{% block titre %}Modifier candidature{% endblock %}
{% block body %}

    {{ include('candidature/_form.html.twig', {'button_label': 'Modifier'}) }}
    <center>{{ include('candidature/_delete_form.html.twig') }}
    <a href="{{ path('candidature_index') }}" class="filled-button">Retour à la liste</a> </center>
      
    

    
{% endblock %}
