{% extends 'base.html.twig' %}

{% block title %}Modifier candidature{% endblock %}
{% block titre %}Modifier candidature{% endblock %}
{% block body %}
    <!-- Page Content -->
    <div class="page-heading contact-heading header-text" style="background-image: url({{asset('assets/images/heading-4-1920x500.jpg') }});">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">
                        <h4>Recrutini</h4>
                        <h2> Candidatures </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Ends Here -->

    {{ include('candidature/_form.html.twig', {'button_label': 'Modifier'}) }}
    <center>{{ include('candidature/_delete_form.html.twig') }}
    <a href="{{ path('candidature_index') }}" class="filled-button">Retour à la liste</a> </center>
      
    

    
{% endblock %}
