{% extends 'baseCandidat.html.twig' %}

{% block title %}Ajouter Candidature{% endblock %}
{% block titre %}Ajouter Candidature{% endblock %}
{% block body %}
    
    

    {{ include('candidature/_form.html.twig') }}

    <a href="{{ path('candidature_index') }}">Retour à la liste</a>
{% endblock %}
