<h1>Activation de votre compte</h1>
<h1>bonjour</h1>
<p>Une demande de reinitialisation de mot de passe a ete effectuee pour le
    site Recritini Veuillez cliquer sur le lien suivant</p>
<p><a href="{{ absolute_url(path('url')) }}">Activer mon compte</a></p>